* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #021143 !important;
  color: black !important;
  font-family: Arial !important;
}

.mt-5 {
  margin-top: 30mm;
  padding-bottom: 30mm;
}

.logo {
  background-image: url(./assets/covd-192.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  width: 100px;
  height: 150px;
  margin: auto;
}

.titulo {
  color: white;
  font-family: Arial;
  text-align: center;
  margin-bottom: 10mm;
}

.container01 {
  background-color: white;
  background-repeat: repeat;
  background-position: center;
  height: 115vh;
  border-radius: 10mm 10mm 0mm 0mm;
}

.bord-list {
  padding-top: 5%;
}

.conteudo {
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.cont-size {
  font-size: 18px;
}

footer {
  font-size: 10px;
  color: rgb(23, 29, 34);
  padding: 3% 0% 3% 0%;
  background-color: white;
  box-shadow: 0px 0px 5px grey;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
}

a:visited {
  color: rgb(23, 29, 34);
}

@media only screen and (min-width: 320px) and (max-width: 720px) {

  body {
    background-image:url('../src/assets/bg.png') !important;
    background-position: center;
    background-repeat: no-repeat !important;
    color: black !important;
    font-family: Arial !important;
  }
  footer {
    font-size: 12px;
    color: rgb(23, 29, 34);
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    padding: 7% 5% 7% 5%;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .logo {
    background-image: url(./assets/covd-192.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    width: 100px;
    height: 150px;
    margin: auto;
    padding-bottom: 50mm;
  }
  .titulo {
    color: white;
    font-family: Arial;
    text-align: center;
    margin-bottom: 10mm;
    font-size: 18px;
  }
  .conteudo-lef {
    text-align: left !important;
  }
  .container01 {
    background-color: white;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
  }
}